@import "tailwindcss";

@theme {
  --color-off-white: #fdfdfd;
  --color-off-black: #333333;
  --color-light-grey: #f5f5f5;
  --color-accent-blue: #80b5d9;
  --font-display: var(--font-anton), sans-serif;
  --font-primary: var(--font-montserrat), sans-serif;
  --text-small: 12px;
  --text-regular: 16px;
  --text-heading-small: 30px;
  --text-heading-large: 60px;
  --text-heading-landing-small: 40px;
  --text-heading-landing-medium: 70px;
  --text-heading-landing-large: 90px;
  --spacing-small: 15px;
  --spacing-regular: 30px;
  --spacing-side: 60px;
  --spacing-side-small: 30px;
  --spacing-top: 90px;
  --spacing-top-small: 60px;
  --spacing-bottom: 120px;
  --spacing-bottom-small: 90px;
}

.body-styles {
  @apply text-off-black font-primary text-regular leading-8 bg-green-200 relative;
}

.section-styles {
  @apply max-w-[1400px] px-regular md:px-side mx-auto;
}

.burger {
  @apply absolute w-full h-[2px] bg-off-white;
}

/* HERO SECTION */
.hero-styles {
  @apply relative h-screen w-full text-off-white pt-[170px] lg:pt-[200px] pb-bottom min-h-fit;
}

/* BUTTON */
.button {
  @apply bg-accent-blue w-fit px-6 py-2 rounded-full uppercase 
         font-medium transition-all duration-300 ease-in-out 
         hover:scale-105 hover:bg-accent-blue/90 hover:cursor-pointer;
}
