@import "tailwindcss";

@theme {
  --color-off-white: #fdfdfd;
  --color-off-black: #333333;
  --color-light-grey: #f5f5f5;
  --color-accent-blue: #80b5d9;
  --color-hover: rgba(
    253,
    253,
    253,
    0.8
  ); /* off white in rgba value - 20% opacity */
  --color-off-black-40: rgba(
    51,
    51,
    51,
    0.4
  ); /* off black in rgba value - 80% opacity */
  --color-off-black-60: rgba(
    51,
    51,
    51,
    0.6
  ); /* off black in rgba value - 80% opacity */
  --color-off-black-80: rgba(
    51,
    51,
    51,
    0.8
  ); /* off black in rgba value - 80% opacity */
  --color-off-black-90: rgba(51, 51, 51, 0.9);

  --font-display: var(--font-anton), sans-serif;
  --font-primary: var(--font-montserrat), sans-serif;
  --text-small: 12px;
  --text-medium: 14px;
  --text-regular: 16px;
  --text-large: 22px;
  --text-heading-small: 30px;
  --text-heading-medium: 38px;
  --text-heading-large: 48px;
  --text-heading-landing-small: 36px;
  --text-heading-landing-medium: 54px;
  --text-heading-landing-large: 72px;
  --spacing-15: 15px;
  --spacing-30: 30px;
  --spacing-60: 60px;
  --spacing-90: 90px;
  --spacing-120: 120px;
  --spacing-150: 150px;
}

.body-styles {
  @apply text-off-black font-primary text-regular leading-loose bg-off-white relative tracking-wide font-light min-h-screen flex flex-col;
}

.width-size {
  @apply max-w-[1440px] px-30 md:px-60 mx-auto;
}

.section-styles {
  @apply pt-60 md:pt-90 lg:pt-120 pb-90 md:pb-120;
}

.top-page-spacing {
  @apply pt-[135px] md:pt-[165px];
}

.negative-top-spacing {
  @apply -mt-60 lg:-mt-120;
}

.rounded-global {
  @apply rounded-sm;
}

/* HERO SECTION */
.hero-styles {
  @apply relative h-screen w-full text-off-white pt-[170px] lg:pt-[200px] pb-120 min-h-fit;
}

.burger {
  @apply absolute w-full h-[2px] transition-all duration-300;
}

.nav-styles {
  @apply rounded-md bg-off-white shadow-md text-off-black p-2 transition-all duration-300 cursor-pointer hover:bg-hover flex justify-center items-center;
}

/* ABOUT US */

.process-point {
  @apply p-15 bg-white rounded-xl shadow-sm flex gap-15;
}

.process-icon {
  @apply pt-[7px];
}

/* CATALOGUE */

.guide-icons {
  @apply bg-white h-fit rounded-full p-2 shadow-sm hover:scale-95 transition-all duration-300;
}

/* PRODUCT PAGE */
.icon-gap {
  @apply mr-[10px];
}

/* FORMS */

.input-styles {
  @apply bg-light-grey rounded-sm p-2 w-[100%];
}

.sign-in-up-container {
  @apply flex flex-col gap-30 text-sm  h-[100%];
}

.sign-in-up-top-links {
  @apply flex flex-col gap-15 lg:flex-row lg:justify-between text-sm;
}

.sign-in-up-form {
  @apply flex flex-col items-center gap-30 w-[100%] lg:w-[400px] mx-auto mt-30;
}

.sign-in-up-button {
  @apply mt-30 flex justify-center;
}

/* ACCOUNT */

.account-settings-form-div {
  @apply flex flex-col gap-15;
}

/* FOOTER */
.footer-styles {
  @apply w-screen bg-off-black text-off-white py-30 lg:py-60 uppercase text-sm;
}

/* BUTTON */
.button {
  @apply bg-accent-blue  w-fit h-fit px-6 py-2 rounded-md uppercase 
         font-medium transition-all duration-300 ease-in-out 
         hover:scale-[101%] hover:bg-accent-blue/90 hover:cursor-pointer text-nowrap disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:hover:bg-accent-blue;
}

/* REVIEWS BANNER ANIMATION */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 30px));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 60s linear infinite;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  height: 3px; /* Horizontal scrollbar height */
  width: 3px; /* Vertical scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-off-black-40);
  border-radius: 100px;
}
