@import "tailwindcss";

@theme {
  --color-off-white: #fdfdfd;
  --color-off-black: #333333;
  --color-light-grey: #f5f5f5;
  --color-accent-blue: #80b5d9;
  --color-hover: rgba(
    253,
    253,
    253,
    0.2
  ); /* off white in rgba value - 20% opacity */
  --color-off-black-80: rgba(
    51,
    51,
    51,
    0.8
  ); /* off black in rgba value - 70% opacity */

  --font-display: var(--font-anton), sans-serif;
  --font-primary: var(--font-montserrat), sans-serif;
  --text-small: 12px;
  --text-regular: 16px;
  --text-large: 22px;
  --text-heading-small: 30px;
  --text-heading-medium: 45px;
  --text-heading-large: 60px;
  --text-heading-landing-small: 40px;
  --text-heading-landing-medium: 70px;
  --text-heading-landing-large: 90px;
  --spacing-15: 15px;
  --spacing-30: 30px;
  --spacing-60: 60px;
  --spacing-90: 90px;
  --spacing-120: 120px;
}

.body-styles {
  @apply text-off-black font-primary text-regular leading-8 bg-off-white relative tracking-wide font-light;
}

.width-size {
  @apply max-w-[1440px] px-30 md:px-60 mx-auto;
}

.section-styles {
  @apply pt-60 md:pt-90 pb-90 md:pb-120;
}

.rounded-global {
  @apply rounded-sm;
}

/* HERO SECTION */
.hero-styles {
  @apply relative h-screen w-full text-off-white pt-[170px] lg:pt-[200px] pb-120 min-h-fit;
}

.burger {
  @apply absolute w-full h-[2px] bg-off-white;
}

.nav-hover {
  @apply hover:bg-hover p-2 rounded-md transition-all duration-300;
}

/* ABOUT US */

.process-point {
  @apply p-15 bg-white rounded-xl shadow-sm flex gap-15;
}

.process-icon {
  @apply pt-[7px];
}

/* FOOTER */
.footer-styles {
  @apply w-screen bg-off-black text-off-white py-30 lg:py-60 uppercase;
}

/* BUTTON */
.button {
  @apply bg-accent-blue w-fit h-fit px-6 py-2 rounded-full uppercase 
         font-medium transition-all duration-300 ease-in-out 
         hover:scale-105 hover:bg-accent-blue/90 hover:cursor-pointer text-nowrap;
}

/* REVIEWS BANNER ANIMATION */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 30px));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 40s linear infinite;
}
